<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveCaseServlet</servlet-name>
        <servlet-class>ActiveCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveredCaseServlet</servlet-name>
        <servlet-class>RecoveredCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalDeathServlet</servlet-name>
        <servlet-class>TotalDeathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KillSession</servlet-name>
        <servlet-class>KillSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveCaseServlet</servlet-name>
        <url-pattern>/ActiveCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveredCaseServlet</servlet-name>
        <url-pattern>/RecoveredCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalDeathServlet</servlet-name>
        <url-pattern>/TotalDeathServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KillSession</servlet-name>
        <url-pattern>/KillSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            40
        </session-timeout>
    </session-config>
</web-app>
